<div id="barangay-list" class="col-md-3 col-lg-2 pt-4 mb-4 overflow-auto">
    <h2 class="text-center"><i class="fa fa-map-signs"></i>  BARANGAYS</h2>
    <p class="text-center">Legend: <span class="badge badge-warning">PUM</span> <span class="badge badge-danger">PUI</span></p>
    <ul class="list-group mt-2">
    </ul>
</div>